<h1>Welcome to the Frontpage</h1>
<p>Please click "Chat" to view your previous message or click "New Chat" to start a new chat</p>
<a href="#" class="btn btn-info">Chat</a>
<%= link_to("New Chat", new_chat_path, class: 'btn btn-success') %>
